# ===========================================
# Project Workflow (GitHub Actions)
# ===========================================
# Save as: .github/workflows/deploy.yml

name: Deploy Infrastructure

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      confirm_apply:
        description: 'Run terraform apply'
        type: boolean
        required: false
        default: false

jobs:
  terraform:
    uses: Qday12/terraform-workflows/.github/workflows/terraform.yml@main
    with:
      terraform_root: '.'
      environment: 'dev'
      aws_region: 'eu-central-1'
      AWS_PLAN_ROLE_ARN: ${{ secrets.AWS_PLAN_ROLE_ARN }}
      AWS_APPLY_ROLE_ARN: ${{ secrets.AWS_APPLY_ROLE_ARN }}
      confirm_apply: ${{ inputs.confirm_apply }}
