name: Deploy Infrastructure

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      confirm_apply:
        description: 'Run terraform apply'
        type: boolean
        required: false
        default: false

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: Qday12/terraform-workflows/.github/workflows/terraform.yml@main
    with:
      terraform_root: '.'
      environment: 'dev'
      aws_region: 'eu-central-1'
      confirm_apply: ${{ github.event_name == 'workflow_dispatch' && inputs.confirm_apply || false }}
    secrets:
      AWS_PLAN_ROLE_ARN: ${{ secrets.AWS_PLAN_ROLE_ARN }}
      AWS_APPLY_ROLE_ARN: ${{ secrets.AWS_APPLY_ROLE_ARN }}
